# Week 02 Class: Exercises

In this exercise, we will review python basics.

## Variables

### Create variables

Let's start with a very simple exercise of creating new variables



1.   Variable called var_a with value of 3
2.   Variable called var_b with value of 100
3.   String variable str_var_a with value of "GV918"
4.   String variable str_var_a with value of "Data for Social Data Science"

In [1]:
var_a = 3
var_b = 100
str_var_a = "GV918"
str_var_a = "Data for Social Data Science"

### Variable operations



*   Add var_a and var_b
*   Subtract var_a from var_b
*   Multiply var_a and var_b
*   Divide var_b by var_a

In [7]:
var_b * var_a

300

In [44]:
var_b / var_a

300

In [ ]:
var_b - var_a

In [45]:
var_b / var_a

33.333333333333336

## Saving on Github

- Before going to the next section, let's save the work on github.

## Lists

### Create lists

1. Create a list, list_a, with values of 1, 3, 4, 5, 9, 2, 4.5
2. Create a list, list_b, with words from "this is a simple string list" 
  - You can type all or use `*.split` method

In [46]:
list_a = [1,3,4,5,9,2,4.5]
list_b = ["this","is","a,","simple","string","list"]

### Slicing lists

- From the first list, extract a sublist with elements of:
    -   1, 3, 4
    -   9, 2, 4.5
    -   4, 5, 9

In [47]:
print(list_a[0:3])
print(list_a[4:7])
print(list_a[2:5])

[1, 3, 4]
[9, 2, 4.5]
[4, 5, 9]

## Manipulating lists

- Append an element (e.g. 100) to list_a
- Replace the second element of list_a to 12

In [48]:
list_a.append(100)

In [49]:
list_a[5] = 12
list_a

[1, 3, 4, 5, 9, 12, 4.5, 100]

### Concatenate lists

- Concatenate list_a and list_b
- Use `+`

In [50]:
list_3 = list_a + list_b
list_3

[1, 3, 4, 5, 9, 12, 4.5, 100, 'this', 'is', 'a,', 'simple', 'string', 'list']

### Copying lists

Do the following operations
- Assign `lsit_a` to `list_a2`
- Change the value of `list_a2[0]` to 7
- Check the value of `list_a` and `list_a2`

What do you find?

In [51]:
list_a2 = list_a

In [52]:
list_a2[0] = 7

In [53]:
print(list_a)
print(list_a2)

[7, 3, 4, 5, 9, 12, 4.5, 100]
[7, 3, 4, 5, 9, 12, 4.5, 100]

## Dictionary

- create a dictionary with the follwoing key-value pairs
    *   a: 10
    *   b: 20
    *   c: 70n
- add some new key and value

In [55]:
dic1 = {"a":10, "b":20, "c":"70n"}
dic1

{'a': 10, 'b': 20, 'c': '70n'}

## (Optional) String operation

### Concatenation

Let's do some string operation

In [34]:
str_1 = "Hello"
str_2 = "world"
str_3 = "!"

How to concateneate them to craete "Hello world?"
[https://www.w3schools.com/python/python_strings.asp](https://www.w3schools.com/python/python_strings.asp)

In [38]:
print(str_1,str_2,str_3)

Hello world !

### Formatting

Read the section of **String Format** and try to generate "Today is 13-10-2020"

In [43]:
year = 2020
month = 10
date = 13
fill_str = "Today is ..." ## this part has to be changed
fill_str2 = "Today is" 

print(fill_str2,date,"-",month,"-",year)

Today is 13 - 10 - 2020